.header {
  background: $off-black;
  margin-bottom: 12rem;
  padding: $m-size 0;
  display: block;
}

.header__title {
  color: $off-white;
  font-size: $xl-size;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-size: $l-size;
  font-weight: 500;
  margin: 0;
}

nav {
  background: $purple;
  position: relative;
  top: -12rem;
  height: 5rem;
  ul {
    list-style-type: none;
    margin: 0;
    padding: $s-size $m-size;
  }
}

.nav-link {
  text-decoration: none;
  color: $blue;
  font-size: 3rem;
  &:hover {
    color: darken(white, 15%);
  }
}

.link {
  display: inline-block;
  text-decoration: none;
  margin: 0 $s-size;
}
